## KNN Model Training

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

### Import data

In [58]:
df = pd.read_csv("./TAIPEI_diabetes.csv",sep=",",index_col="PatientID")
#df.shape

### Data Preparation

In [59]:
from sklearn.model_selection import train_test_split

In [60]:
df_train, df_test = train_test_split(df,test_size = 0.2)

In [61]:
df_train

,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic
PatientID,,,,,,,,,
1562008,6,152,58,26,91,43.544221,0.323791,23,1
1220134,6,75,62,8,38,38.047771,0.807225,21,0
1264692,6,156,78,41,193,36.064639,1.035875,46,1
1841917,0,115,66,31,50,44.422525,0.793642,25,0
1807886,0,90,61,33,511,42.918519,0.163570,21,0
...,...,...,...,...,...,...,...,...,...
1286508,7,91,54,24,154,21.599936,0.527744,21,0
1863445,3,67,87,29,61,43.629165,0.475230,61,1
1057554,0,92,78,7,148,38.185757,0.183511,34,0
1225780,9,120,83,9,45,19.461985,0.133649,68,0
1050942,0,129,91,11,38,40.668280,0.107645,24,0

In [62]:
df_train.columns

Index(['Pregnancies', 'PlasmaGlucose', 'DiastolicBloodPressure',
       'TricepsThickness', 'SerumInsulin', 'BMI', 'DiabetesPedigree', 'Age',
       'Diabetic'],
      dtype='object')

In [63]:
# get the values of the columns for the training data
X_train = df_train.loc[:,['Pregnancies', 'PlasmaGlucose', 'DiastolicBloodPressure',
       'TricepsThickness', 'SerumInsulin', 'BMI', 'DiabetesPedigree', 'Age']].values
y_train = df_train.Diabetic.values

In [64]:
# get the values of the columns for the test data
X_test = df_test.loc[:,['Pregnancies', 'PlasmaGlucose', 'DiastolicBloodPressure',
       'TricepsThickness', 'SerumInsulin', 'BMI', 'DiabetesPedigree', 'Age']].values
y_test = df_test.Diabetic.values

### Model training

In [44]:
from sklearn.neighbors import KNeighborsRegressor

knn_regressor = KNeighborsRegressor(n_neighbors=3)
knn_regressor.fit(X=X_train, y=y_train)
y_test_predicted = knn_regressor.predict(X_test)
y_test_predicted = y_test_predicted.astype(int)

In [65]:
print((y_test_predicted == y_test).sum()/len(y_test))

0.598

### Metrics Calculation

In [66]:
from sklearn.metrics import confusion_matrix

In [67]:
cf = pd.DataFrame(
    columns=["y_test_0","y_test_1"],index=["y_pred_0","y_pred_1"]
)

In [68]:
cf.loc[:,:] = confusion_matrix(y_true= y_test,y_pred= y_test_predicted)

In [69]:
cf

         y_test_0 y_test_1
y_pred_0     1611      340
y_pred_1      866      183

In [70]:
cf/len(y_test)

          y_test_0  y_test_1
y_pred_0     0.537  0.113333
y_pred_1  0.288667     0.061

In [71]:
from sklearn.metrics import recall_score, precision_score

In [52]:
recall_score(y_true=y_test, y_pred=y_test_predicted)

0.48218029350104824

In [53]:
precision_score(y_true=y_test, y_pred=y_test_predicted)

0.8795411089866156

In [54]:
from sklearn.metrics import classification_report

In [55]:
report =classification_report(y_true=y_test, y_pred=y_test_predicted)

In [56]:
print(report)

              precision    recall  f1-score   support

           0       0.80      0.97      0.88      2046
           1       0.88      0.48      0.62       954

    accuracy                           0.81      3000
   macro avg       0.84      0.73      0.75      3000
weighted avg       0.83      0.81      0.80      3000